@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Zen+Dots&display=swap');

:root {
    /* Declaring colour variables */
    --main: #7f5cff;
    --main-dark: #4e29bd;
    --accent: #09e1e7;
    /* --text-dark: #8491a0; */
    --background: #1a0b28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* For firefox custom scrollbar, not able to set width unfortunately */
    scrollbar-color: var(--main) silver;
}

body {
    height: 100vh;
    background: var(--background);
    color: white;
    /* Hide scrollbar in header */
    overflow: hidden;
}

body::after {
    background:-webkit-linear-gradient(top,hsla(0,0%,100%,0),rgba(0,174,255,.04) 50%,hsla(0,0%,100%,0) 51%,rgba(0,174,255,.03))
}

/* 
/* Main styles for elements
 */
 p {
    font-family: "Titillium Web", "Roboto", Arial, Helvetica, sans-serif;
 }

/**
/* Navbar TODO: Remove later
**/
nav {
    position: relative;
    display: flex;
    /* Push logo to left, navbar to right */
    justify-content: space-between;
    align-items: center;
    background: black;
    /* Ensure that navbar stays on top of everything */
    z-index: 10;
    
}

nav #logo {
    font-size: 3rem;
    padding: 0.2rem 2%;
    cursor: pointer;
    font-family: "Zen Dots", "Roboto", Arial, Helvetica, sans-serif !important;
}

nav ul {
    margin: 0 1%;
}
nav ul li {
    /* Move nav items  next to each other */
    display: inline-block;
    /* Override margin top style for li */
    margin: 0;
}

/* Styles for inactive tabs */
nav ul li a {
    text-decoration: none;
    color: silver;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    height: 100%;
    transition: all .3s ease;
}

/* Styles for active tab */
nav ul li a#active {
    color: white;
    font-weight: bold;
    background: var(--main);
}

nav ul li a#active:hover {
    text-decoration: none;
    background: var(--main-dark);
}

nav ul li a:hover {
    color: white;
    text-decoration: underline var(--main) solid 3px;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg, 
            rgba(26, 11, 40, 1) 0%, 
            rgb(57, 8, 55) 25%, 
            rgb(31, 9, 70) 51%, 
            rgb(52, 9, 66) 100%            
    );  
    animation: animateBG 10s ease infinite;
}

#intro-title {
    font-family: "Zen Dots", "Roboto", Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro-title h2 {
    font-size: 3vw;
    animation: titleHeader 5s ease;
}

#intro-title .glitch {
    animation: titleVirtual 5s ease;
}

.glitch {
    font-size: 7vw;
    width: min-content;
    margin: 0 auto; 
    /* text-align: center; */
    text-transform: uppercase;
    position: relative;
    /* Initial "glitch" colors */
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

.glitch span {
    /* Overlap spans on top of original text, with slight offsets */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
}

.glitch span:first-child {
    /* "Cut" text such that only top 35% is shown */
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%); 
    transform: translate(-0.04em, -0.03em);
    animation: glitch 500ms infinite;
}

.glitch span:last-child {
    /* "Cut" text such that only bottom 35% is shown */
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    animation: glitch 500ms infinite;
}

/* Move gradient in background */
@keyframes animateBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Glitch effect */
@keyframes glitch {
    /* Go through different glitch colors */
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}

@keyframes titleHeader {
    0% {
        opacity: 0%;
    }

    20% {
        opacity: 100%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes titleVirtual {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 0%;
    }

    26% {
        opacity: 100%;
        transform: rotateX(10deg) skewX(70deg) translate(0px, 2%);
    }

    27% {
        transform: rotateX(-10deg) skewX(-70deg) translate(0px, -2%);
    }

    28% {
        transform: rotateX(0deg) skewX(0deg) translate(0px, 0%);
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
