:root {
  --space-xxs: .25rem;
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --c-white: #13131b;
  --c-dark: #fff;
  --c-dark-1: #c4e1dd;
  --c-dark-2: #a3cdc7;
  --c-dark-3: #a3cdc7;
  --c-dark-4: #748fff;
  --c-light-1: #008497;
  --c-light-2: #005461;
  --min-content-size: 15rem;
  --max-content-size: 50rem;
  --item-size: 18.75rem;
  --item-size-negative: -18.75rem;
}

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  overscroll-behavior: none;
  font-family: Quicksand, sans-serif;
  overflow: hidden;
}

.main {
  grid-template-columns: [side-start] minmax(40rem, var(--max-content-size)) [side-end content-start] minmax(min-content, 1fr) [content-end end-space-start] 1.875rem [end-space-end];
  gap: var(--space-md);
  display: grid;
  position: relative;
}

.main nav {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 11.875rem;
  transform: translate(-50%, -50%);
}

.main nav ul {
  list-style: none;
}

.main nav li {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.main nav li a {
  --link-opacity: .3;
  color: var(--c-dark);
  opacity: var(--link-opacity);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: all .4s;
}

.main nav li.active > a {
  --link-opacity: 1;
}

.scroll-menu {
  visibility: hidden;
  opacity: 0;
  inline-size: 45rem;
  block-size: 40rem;
  background-image: linear-gradient(var(--c-light-2), var(--c-light-1));
  z-index: 1000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1.2rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.scroll-menu .scrollbar {
  content: "";
  inline-size: 9.375rem;
  block-size: 43.75rem;
  background: var(--c-dark);
  transform-origin: top;
  position: absolute;
  top: 15.625rem;
  left: 9.375rem;
  transform: rotate(225deg);
}

.scroll-menu .overlay {
  inset: var(--space-xxs);
  background: var(--c-white);
  border-radius: 50%;
  position: absolute;
}

.scroll-menu .circle-1 {
  z-index: 2001;
  background: linear-gradient(to right, var(--c-dark-2), var(--c-dark-1));
  border-radius: 50%;
  position: absolute;
  inset: 14rem 15rem;
}

.scroll-menu .circle-2 {
  z-index: 2000;
  background: linear-gradient(to right, var(--c-dark-3), var(--c-dark-4));
  border-radius: 50%;
  position: absolute;
  inset: 11.875rem;
}

.scroll-menu .circle-2-overlay {
  z-index: 2000;
  background: var(--c-white);
  border-radius: 50%;
  position: absolute;
  inset: 12.813rem;
}

.content {
  grid-column: 2 / "content-end";
  height: calc(100vh - var(--navbar-height));
}

.scroll-content {
  visibility: hidden;
  opacity: 0;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, var(--min-content-size)) );
  display: grid !important;
}

.scroll-content.odd .item:nth-last-of-type(2n+1) .heading, .scroll-content.even .item:nth-last-of-type(2n) .heading {
  border-left: 1px solid var(--c-light-2);
}

.scroll-content.odd .item:nth-last-of-type(2n) .heading, .scroll-content.even .item:nth-last-of-type(2n+1) .heading {
  border-right: 1px solid var(--c-light-2);
}

.scroll-content.even .item:nth-last-of-type(2n) {
  transform: translateY(var(--item-size-negative));
}

@media only screen and (max-width: 104.813em) {
  .scroll-content.even .item:nth-last-of-type(2n) {
    transform: none;
  }

  .scroll-content.even .item:nth-last-of-type(2n) .heading {
    border-right: 1px solid var(--c-light-2);
  }

  .scroll-content.even .item:nth-last-of-type(2n+1) {
    transform: none;
  }

  .scroll-content.even .item:nth-last-of-type(2n+1) .heading {
    border-left: 1px solid var(--c-light-2);
  }
}

.scroll-content.odd .item:nth-last-of-type(2n+1) {
  transform: translateY(var(--item-size-negative));
}

@media only screen and (max-width: 104.813em) {
  .scroll-content.odd .item:nth-last-of-type(2n+1) {
    transform: none;
  }
}

.side {
  flex-direction: column;
  grid-column: side-start / side-end;
  display: flex;
}

.side h1 {
  visibility: hidden;
  opacity: 0;
  font-size: var(--space-xxl);
  place-self: flex-end end;
  margin-inline-end: var(--space-xxl);
  transform: translateY(-15px);
}

.side .text {
  visibility: hidden;
  opacity: 0;
  inline-size: 18rem;
  align-self: flex-end;
  margin-inline-end: var(--space-xxl);
  position: relative;
  transform: translateY(-15px);
}

.side .text .line {
  block-size: 4px;
  inline-size: 38px;
  background: var(--c-dark);
  position: absolute;
  top: 8px;
  left: -18px;
}

.side .text p {
  inline-size: 75%;
  color: var(--c-dark);
  font-size: 13px;
  line-height: 1.6;
  position: absolute;
  right: 0;
}

.side .author {
  visibility: hidden;
  opacity: 0;
  color: var(--c-dark);
  align-self: flex-end;
  margin-block: auto 10%;
  margin-inline-end: 22%;
  font-size: 15px;
  font-weight: normal;
}

.item {
  block-size: 600px;
  display: grid;
}

.item:nth-child(1) .picture {
  border-left: 1px solid var(--c-light-2);
  background: none;
}

@media only screen and (max-width: 104.813em) {
  .item:nth-child(1) {
    display: none;
  }
}

.item:nth-child(2) .heading {
  border-left: 1px solid var(--c-light-2);
}

.item .heading {
  block-size: 300px;
  color: var(--c-light-2);
  display: flex;
}

.item .heading .title {
  color: var(--c-dark);
  font-weight: bold;
  font-size: var(--space-sm);
  flex: 1;
  align-items: flex-end;
  margin-block-end: 22px;
  margin-inline-start: 15px;
  display: flex;
}

.item .heading .order {
  font-size: var(--space-xxl);
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  margin-inline-end: 15px;
  display: flex;
}

.item .picture {
  block-size: 300px;
}

.item .picture img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

/*# sourceMappingURL=work.0fc843d5.css.map */
